{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="{% static 'bootstrap4-bubblegum.min.css' %}" rel="stylesheet">
    <link href="{% static 'blog/styles.css' %}" rel="stylesheet">
    {% if title %}
        <title>Blog - {{ title }}</title>
    {% else %}
          <title>Blog</title>
    {% endif %}

</head>
<body>

  <header class="site-header mb-2">
      <nav class="navbar navbar-expand-md bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="{% url 'blog:blog_home_page' %}">Django Blog</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{% url 'blog:blog_home_page' %}">Home</a>
              <a class="nav-item nav-link" href="{% url 'blog:blog_about_page' %}">About</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
                {% if user.is_authenticated %}

                     <a class="nav-item nav-link" href="{% url 'users:user_profile' %}">{{ user.username  }}'s profile</a>
                    <a class="nav-item nav-link" href="{% url 'blog:blog_create_page' %}">Create a new post</a>
                     <a class="nav-item nav-link" href="{% url 'users:logout_user' %}">Logout</a>
                {% else %}
                     <a class="nav-item nav-link" href="{% url 'users:login_user' %}">Login</a>
                     <a class="nav-item nav-link" href="{% url 'users:register_user' %}">Register</a>
                {% endif %}
            </div>
          </div>
        </div>
      </nav>
  </header>

 <main role="main" class="container-fluid mt-5">
  <div class="row">
    <div class="col-md-8">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}

            </div>
        {% endfor %}
    {% endif %}
      {% block content %}{% endblock %}
    </div>
    <div class="col-md-4">
      <div class="content-section">
        <h3>Our Sidebar</h3>
        <p class='text-muted'>You can put any information here you'd like.
          <ul class="list-group">
            <li class="list-group-item list-group-item-light">Latest Posts</li>
            <li class="list-group-item list-group-item-light">Announcements</li>
            <li class="list-group-item list-group-item-light">Calendars</li>
            <li class="list-group-item list-group-item-light">etc</li>
          </ul>
        </p>
      </div>
    </div>
  </div>
 </main>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
</body>
</html>